.user-signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.user-signup-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.user-signup-form {
  display: flex;
  flex-direction: column;
}

.user-signup-content {
  margin-bottom: 20px;
}

.user-signup-title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.user-signup-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.user-signup-input:focus {
  border-color: #007BFF;
  outline: none;
}

.user-signup-error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.user-signup-buttons {
  display: flex;
  justify-content: center;
}

.user-signup-btn {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-signup-btn:hover {
  background-color: #0056b3;
}

ul.user-signup-error li {
  text-align: left;
}
